<!-- roles/nodejs/templates/tabs/ais.html -->
<div class="tab-text">
    <!-- ЗАГОЛОВОК -->
    <h3>Архитектура Информационной Системе</h3>
    <p>Docker архитетура, основаная на развёрнутых в VirtualBox хостах.</p>

    <!-- РАЗДЕЛ 1 -->
    <h4>1. Информационная архитектура:</h4>
    <ul>
        <li>Бизнес данные;</li>
        <li>Информационная модель;</li>
    </ul>

    <!-- РАЗДЕЛ 2 -->
    <h4>2. Архитектура модулей и компонентов</h4>
    <ol>
        <li>
            Диаграмма модулей и компонентов:
            <ul>
                <li><strong>:</strong> .....картика.......</li>
                <li><strong>:</strong> ............</li>
            </ul>
        </li>
        <li>
            Перечень модулей и компонентов:
            <ul>
                <li>................</li>
                <li>................</li>
            </ul>
        </li>
        <li>
            Перечень информационных потоков:
            <ul>
                <li><em>здесь будет таблица.</em></li>
        </li>

    <!-- РАЗДЕЛ 3 -->
    <h4>3. Техническая архитектура:</h4>
    <ul>
        <li>Сетевое взаимодействие;</li>
           <img src="/ui/images/Simple_Net_Components.png" alt="Архитектура" style="max-width: 100%; height: auto; border-radius: 10px;">
        <li>СУБД;</li>
        <li>Средства сетевой балансировки;</li>
        <li>Мониторинг;</li>
    </ul>
    </ol>
