<!-- roles/nodejs/templates/tabs/tis.html -->
<div class="tab-text">
    <h3>Требования к Информационной Системе</h3>
    
    <p>Контейнерный стенд для отработки навыков администрирования, мониторинга и настройки приложений nginx, tomcat, postgres.</p>
    
    <h4>Бизнес-логика:</h4>
    <ul>
        <li>Генераторы создают нагрузку на базу данных;</li>
        <li>GUI позволяет управлять нагрузкой и создавать замедления, а также является визитной карточкой проекта с вложенной документацией;</li>
        <li>Мониторинг позволяет обеспечивать наблюдаемость компонентов системы;</li>
        <li>Сценарии и роли Ansible позволяют обеспечить развёртывание и настройку компонентов системы;</li>
    </ul>
    
    <h4>Технические задачи:</h4>
    <ol>
        <li>
            Развернуть стенд с использованием Ansible (подготовка инфраструктуры). Обеспечить два типа нагрузки для тестирования различных сценариев:
            <ul>
                <li><strong>POST:</strong> подгрузка данных в Postgres через генератор нагрузки к сервису БД;</li>
                <li><strong>GET:</strong> через генератор нагрузки к сервису БД;</li>
            </ul>
        </li>
        <li>
            Обеспечить возможность:
            <ul>
                <li>регулировки интенсивности подаваемой нагрузки;</li>
                <li>замедления обработки запросов на приложении Java.</li>
            </ul>
        </li>
        <li>
            Настроить мониторинг (Prometheus + Grafana) для визуализации всех компонентов.
        </li>
    </ol>
</div>