import http from 'k6/http';
import { check, sleep } from 'k6';

export const options = {
  vus: 1,
  duration: '10s',
};

export default function () {
  const res = http.get('https://{{ hostvars["k8s"]["ansible_host"] }}/api/health');
  check(res, {
    'status is 200': (r) => r.status === 200,
    'body contains UP': (r) => r.body.includes('UP'),
  });
  sleep(1);
}
